{% extends 'layout.html' %}


{% block body %}
<h1>Search Products</h1>
<form method="POST" action="">
    <div class="content-section">
        <div align="middle" class="mb-2">
            {{ form.search(class="form-control", placeholder="Search for something...") }}
    </div>
        <div align="middle">
            {{ form.submit(class="btn btn-primary pr-5 pl-5") }}
            </div>




<hr/>





        {% if getProducts == [] %}
        <p align="middle">No results found.</p>
        {% else %}
        {% for product in getProducts %}
            <div class="content-section">
                  <div class="media">
                    <img class="rounded-circle account-img" src="{{ img_location + product.image_file }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h3 class="mr-2"><a href="{{ url_for('products.product', prod_id=product.prod_id) }}">{{ product.productname }}</a></h3>
                            <small class="text-muted">Added since: {{ product.date_posted.strftime('%d-%m-%Y') }} </small>
                        </div>
                            <p class="text-secondary">{{ 'Category: ' + product.producttype }}</p>
                            <p class="text-secondary">Price: {{ product.price }} KD</p>
            <!--                <p class="text-secondary">Added since: {{ product.date_posted.strftime('%Y-%m-%d') }} </p>-->
                            <a class="nav-item" href="{{ url_for('users.userprofile', user_id=product.user_id) }}">{{ product.seller.username }}</a>
                                    <hr/>
            <!--                <p class="text-secondary">Description: {{ product.description }}</p>-->
                        <div class="form-group">
<!--                            <a class="btn btn-primary" href="{{ url_for('products.product', prod_id=product.prod_id) }}">View Product</a>-->
                        </div>
                    </form>

                    </div>
                  </div>
                </div>

        {% endfor %}

            {% endif %}

            </div>
</div>



{% endblock body %}