{% extends 'layout.html' %}

{% block body %}
<!--    <h1>Profile</h1>-->
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user_image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
            <div class="col-6 border-right">
                <p class="text-secondary">{{ current_user.firstname + ' ' + current_user.lastname }}</p>
                <p class="text-secondary">Total Purchased Products: {{ products.total }}</p>

                              </div>

              <div class="col-6">
                    <p class="text-secondary">{{ current_user.dob}}</p>




              </div>
        </div>
      </div>
      <!-- FORM HERE -->
        <div class="content-section">
<!--            without enctype gives error-->
        <form method="POST" action="" enctype="multipart/form-data">

            <legend class="border-bottom mb-4">

                <div align="right" >
                    <a class="btn btn-primary ml-5" href="{{ url_for('users.userprofile', user_id=current_user.user_id) }}">View Products</a>
                </div>

                Purchase History</legend>



            <fieldset class="form-group">
                {% if products.items[0] %}
                    {% for product in products.items %}
                        <div class="content section">
                            <div class="media">

                                    <img class="rounded-circle account-img" src="{{ img_location + product.Product.image_file }}">
                                    <div class="media-body">
                                        <div class="article-metadata">
                                            <h3 class="mr-2"><a href="{{ url_for('products.product', prod_id=product.Product.prod_id) }}">{{ product.Product.productname }}</a></h3>
                                            <small class="text-muted">Bought on: {{ product.Payment.transaction_date }} </small>
                                        </div>
                                        <p class="text-secondary">Seller: <a href="{{ url_for('users.userprofile', user_id=product.Product.user_id) }}">{{ product.Product.seller }}</a></p>
                                            <p class="text-secondary">Bought for: {{ product.Product.price }} KD</p>
                                        <p class="text-secondary">Transaction ID: {{ product.Payment.pay_id }}</p>
                                        <p class="text-secondary">Payment method: {{ product.Payment.method }}</p>


                                        <div class="form-group">
                                        </div>

                        <hr/>

                                  </div>
                                </div><hr/>
                        </div>
                    {% endfor %}
                {% else %}
                    <p align="middle">You have not purchased any products.</p>
                {% endif %}

            </fieldset>
        </form></div></div>





        <div class="container" align="middle">
        {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=4) %}
            {% if page_num %}
                {% if products.page == page_num %}
                <a class="btn btn-primary mb-4" href="{{ url_for('users.purchasehistory') }}">{{ page_num }}</a>
                {% else %}
                <a class="btn btn-outline-primary mb-4" href="{{ url_for('users.purchasehistory', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}

        </div>

{% endblock body %}